<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQ5KJEpl_bjJJgSgFRaNG4s2Tl-thHP_c</string>
	<key>GCM_SENDER_ID</key>
	<string>970037812078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testSizesFlutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>test-sizes-flutter-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>test-sizes-flutter-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970037812078:ios:f7373ecc3530ccd7cfbf7f</string>
</dict>
</plist>